BasedOnStyle: LLVM

Language: C

IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Allman

ColumnLimit: 100

PointerAlignment: Left

SortIncludes: false

AllowShortFunctionsOnASingleLine: Empty

BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
