[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/cglm"]
	path = vendor/cglm
	url = https://github.com/recp/cglm.git
[submodule "vendor/flecs"]
	path = vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
